<html>
<head>
<title>Scottish castles</title>
<link href="{{ url_for('static', filename='vendors/bootstrap-4/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendors/bootstrap-4/js/bootstrap.min.js') }}" />
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('root') }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('regions') }}">Regions</a>
        <a class="nav-item nav-link" href="{{ url_for('results') }}">Castles</a>
        <a class="nav-item nav-link" href="{{ url_for('upload') }}">Add a castle</a>
        {% if session['logged_in'] %}
        <a class="nav-item nav-link" href="{{ url_for('logout') }}">logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
        {% endif %}

      </div>
    </div>
  </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Albanach Caisleáin</h1>
        <p class="lead">This is Scotland.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

        {% block content %} {% endblock %}

    </div>
  </div>
  <br>
  <footer class="footer" style="background-color:black">
      <div class="container">
        <span class="text-muted">Coursework 1 - 40086764 - Angelos Athanasakos</span>
      </div>
    </footer>
</body>
</html>
