{% extends "base.html" %}

{% block content %}

{% if castle_region == 'highlands' %}
<div class="container">
  <h2 style="text-align:center">All Highland castles</h2>
</div>
  {% for regions in parent_dict %}
  {% for results in regions.Highlands %}
  <div class="card text-center" style="width: 20rem; margin:25px;">
    <img style="height:250px;" class="card-img-top" src="...." alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{ results.Castle }}</h4>
      <p class="card-text">{{ results.Description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Clan: {{ results.Clan}}</li>
      <li class="list-group-item">Area: {{ results.Area}}</li>
      <li class="list-group-item">Date built: {{ results.Date}}</li>
    </ul>
  </div>
    {% endfor %}
  {% endfor %}


{% elif castle_region == 'lowlands' %}
<div class="container">
  <h2 style="text-align:center">All Lowlands castles</h2>
</div>
{% for regions in parent_dict %}
{% for results in regions.Lowlands %}
<div class="card text-center" style="width: 20rem; margin:25px;">
  <img style="height:250px;" class="card-img-top" src="...." alt="Card image cap">
  <div class="card-block">
      <h4 class="card-title">{{ results.Castle }}</h4>
    <p class="card-text">{{ results.Description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Clan: {{ results.Clan}}</li>
    <li class="list-group-item">Area: {{ results.Area}}</li>
    <li class="list-group-item">Date built: {{ results.Date}}</li>
  </ul>
</div>
  {% endfor %}
{% endfor %}

{% endif %}


{% endblock %}}
