{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 style="text-align:center">Add a new castle</h2>
</div>
<div style="padding:25px;" class="container">
  <div class="row">
    <div class="col-4">
      <form action = "" method = "POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="castle_name">Castle name</label>
                <input type="text" class="form-control" id="castle" name="castle" placeholder="Castle name" required="true">
              </div>
              <div class="form-group">
                <label for="region">Region</label>
                <select class="form-control" id="region" name="region" placeholder="Region" required="true">
                <option>Highlands</option>
                <option>Lowlands</option>
                </select>
              </div>
              <div class="form-group">
                <label for="clan">Clan</label>
                <input type="text" class="form-control" id="clan" name="clan" placeholder="Clan" required="true">
              </div>
              <div class="form-group">
                <label for="date">Date built</label>
                <input type="date" class="form-control" id="date" name="date" placeholder="date" required="true">
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" id="desciption" id="descriptin" name="description" required="true" rows="3"></textarea>
              </div>
              <div class="form-check">

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 1</h5>
          </div>
          <p class="mb-1">Enter the information such as the Castle name, Region, Clan and the date it is built. it recommended to write a small background story at the description field.</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 2</h5>
          </div>
          <p class="mb-1">Click submit!</p>
        </a>
        <a  class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step 3</h5>
          </div>
          <p class="mb-1">Your new castle will be added to the Castles page.</p>
        </a>
      </div>
    </div>
    <div class="col-4">
            {% with messages = get_flashed_messages () %}
              {% if messages %}
                    {% for message in messages %}
                    {{ message | safe }}
                    {% endfor %}
                {% endif %}
              {% endwith %}
    </div>
  </div>
</div>
{% endblock %}}
